/* Styling for the About Me Container */


h1{
    text-align: center;
    font-size: 2em;
    color: #333;
    margin: 20px 0;
}

.content{
    font-size: 1.2em;
    line-height: 1.6; /* Increase spacing for readability */
    color: #222; /* Darker text for contrast */
    text-align: justify; /* Justify text alignment */
    margin-bottom: 10px;
    overflow-wrap: break-word; /* Ensures long words don't overflow */
    word-wrap: break-word;
    white-space: normal; /* Prevents text from staying on one line */
    padding-left: 20px;
    padding-right: 20px;
}
