.projects-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columns */
    grid-gap: 20px; /* Adds space between items */
    justify-items: center; /* Centers content inside each grid cell */
}

.Project{
    border: 1px solid lightseagreen;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
    padding: 20px;
    margin: 10px;
    text-align: center;
    max-width: 700px;
    width: 85%;
    display : inline-block;
}


.Project .project-image{
    width: 200px;  /* Set a fixed width */
    height: 200px; /* Set a fixed height */
    object-fit: cover; /* Prevent distortion while maintaining aspect ratio */
    border-radius: 50%;
    margin-bottom: 10px;
}


.Project .project-title{
    font-size: 1.5em;
    font-weight: bold;
    color: #333;
}


@media screen and (max-width: 768px){
    .projects-container{
        grid-template-columns: 1fr; /* 1 column */
    }

    .Project{
        width: 65%;
    }

    .Project .project-image{
        width: 100%;
        height: auto;
    }

    .Project .project-title{
        font-size: 1.2em;
    }
    
}